.listContainer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: rgb(243, 240, 240);
}

.listWrapper {
  width: 90%;
  /* max-width: 1024px; */
  display: flex;
  gap: 35px;
}

.listSearch {
  flex: 1.5;
  font-size: 0.9rem;
  /* background-color: #febb02; */
  background-color: #f8d6d6;
  padding: 17px;
  border: 1px solid #2b8acd;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: rgb(43, 1, 91);
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  margin: 13px 0 5px;
}

.lsItem>label{
  /* font-size: 12px; */
  margin-bottom: 3px;
}

.lsItem>input{
  height: 30px;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px 15px 5px;
  background-color: rgb(243, 240, 240);
  color: rgb(43, 1, 91);
}

.lsItem>select{
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 15px 5px;
  background-color: rgb(243, 240, 240);
  color: rgb(43, 1, 91);
  border-radius: 10px;
  font-size: 16px;
  appearance: none;
}


.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 0 12px 0px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  color: black;
}

.lsOptionInput{
  width: 50px;
}

.listSearch > button{
  border-radius: 10px;
  padding: 10px;
  background-color: #f6f3ff;
  background-color: rgb(243, 240, 240);
  color: rgb(43, 1, 91);
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.listResult {
  flex: 6;
}
